// .tab-pane.fade{
//     transition: opacity 1s linear;
// }



.tour_booking_form_box {
    margin-bottom: 20xpx !important;
    background: #FFFFFF;
    box-shadow: -4px -5px 14px rgb(0 0 0 / 8%), 5px 8px 16px rgb(0 0 0 / 8%);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.margin_al {
margin-top: 20px;
}

.flight-fg {
    padding-top: 80px;
}

.sidebr-ag {
    padding-left: 50px;
}