<table class="table table-bordered">
    <tr>
      <th>Airline (LOS -> LHR)</th>
      <th><img src="assets/img/airlines/airline7.png"></th>
      <th><img src="assets/img/airlines/airline2.png"></th>
      <th><img src="assets/img/airlines/airline3.png"></th>
      <th><img src="assets/img/airlines/airline4.png"></th>
      <th><img src="assets/img/airlines/airline5.png"></th>
      <th><img src="assets/img/airlines/airline6.png"></th>
      <th><img src="assets/img/airlines/airline1.png"></th>
    </tr>
    <tr>
      <td>Direct Flight</td>
      <td></td>
      <td></td>
      <td>$3400</td>
      <td></td>
      <td>$760</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1 Stop</td>
      <td></td>
      <td>$8700</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1+Stops</td>
      <td>$2700</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>$980</td>
      <td></td>
    </tr>
  </table>